body{
    background: rgb(237, 221, 179);
    padding: 10px;
}

h1{
    color: rgb(120, 70, 17);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: rgb(197, 156, 102);
    text-align: center;
    text-shadow: 1px 1px 1px white;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    display: block;
    width: 800px;
    height: 400px;
    border-image: round;
}   

.img{
display: grid;
justify-content: center;
}

.title{
    font-size: 60px;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

header{
    text-align: center;
    padding: 1px 0;
    background-color: #fff7d8;
}

header h1 {
    margin: 0;
    height: 84px;
}

nav li {
    display: inline;
    padding-right:27px ;
    margin-right: 15px;
    background-position: center right;
}

nav a {
    text-decoration: none;
    color: #40310bdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover{
    color: #c8be99;

}

nav a:active{
    color: hsl(47, 21%, 40%);
}

@media (max-width: 580px) {
    header{
        text-align: center;
        padding: 1px 0;
        background-color: #fff7d8;
        display: flex;
        justify-content: space-between;
    }  
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: grid;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #837449;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #c9af59;
}