body{
    background: rgb(237, 221, 179);
    padding: 10px;
}

h1{
    color: rgb(120, 70, 17);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: rgb(197, 156, 102);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    color: rgb(172, 140, 98);
    justify-self: start;
    
}

img{
    display: block;
    width: 800px;
    height: 400px;
    border-image: round;
}

.img{
display: grid;
justify-content: center;
}