body{
    text-align: center;
    background: rgb(237, 221, 179);
}

h1{
    color: rgb(120, 70, 17);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    text-align: center;
    padding: 1px 0;
    background-color: #fff7d8;
}

nav li {
    display: inline;
    padding-right:27px ;
    margin-right: 15px;
    background-position: center right;
}

nav a {
    text-decoration: none;
    color: #40310bdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-size-adjust: ;
}

nav a:hover{
    color: #c8be99;

}

.grid{
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 35px;
    justify-content: center;
}

img {
    max-width: 80%;
}

.produtos{
    background-color: #fff7d8;
    padding: 5px 10px 20px 10px;
    border-radius: 8px;

}

a{
    background-color: #d0c084;
    color: white;
    text-decoration: none;
    padding: 18px 26px;
    border-radius: 10px;
    display: inline-block;
}

